 <!--START CONTAINER FLUID -->
<div class="container-fluid full-height no-padding container-fixed-lg">
    <div class="row full-height no-margin">
                    <div class="col-md-3 no-padding b-r b-grey sm-b-b full-height">
                        <div class="row bg-white">
                            <div class="col-md-9">
                                <ul class="order-list">
                                  <li ng-repeat="(key,order) in orders | orderBy: 'updated':true"
                                  ng-class="{active: key == currentOrderId}"
                                  ng-click="goToOrder(key)"
                                  data-orderId="key"
                                  >
                                  <h4>
                                    {{order.order_reference}}
                                  </h4>
                                    <!-- <div class="progress progress-small">
                                      <div class="progress-bar progress-bar-complete" style="width:45%"></div>
                                    </div> -->
                                  <span ng-if="order.is_complete">
                                      Completed
                                  </span>
                                  <span ng-if="!order.is_complete">
                                      In Progress
                                  </span>
                                </li>
                                </ul>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-5">
                                <button type="button" class="btn btn-success add-more-btn" data-target="#modalNewOrder" data-toggle="modal" id="btnFillSizeToggler2">+</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-9 no-padding full-height">
                        <!-- START PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="invoice padding-50 sm-padding-10">
                                    <div>
                                        <div class="pull-left">
                                          <h3>
                                              {{orders[currentOrderId].order_reference}}
                                          </h3>
                                        </div>
                                      <div class="clearfix"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="sm-m-l-5 sm-m-r-5">
                                        <div class="panel panel-transparent">
                                            <div class="panel-heading">
                                                <div class="panel-title">Your DealBinder.com results:
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer">
                                                        <table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th style="width: 45%" class="sorting_disabled" rowspan="1" colspan="1">Entity</th>
                                                                    <th style="width: 35%;" class="sorting_disabled" rowspan="1" colspan="1">Status</th>
                                                                    <th style="width: 15%;" class="sorting_disabled v-align-right" rowspan="1" colspan="1">Last Update</th>
                                                                    <th style="width: 5%;" class="sorting_disabled v-align-right" rowspan="1" colspan="1">Notes</th>
                                                                </tr>
                                                            </thead>
                                                          </table>
                                                         <div ng-repeat="entity in orderDetails" class="row even" role="row" style="padding-left: 20px; width: 100%;">
                                                           <table style="width: 100%;">
                                                             <tr>
                                                                <td style="width:45%" class="v-align-middle semi-bold"><h5>{{entity.entity_name}}</h5></td>
                                                                <td style="width:35%" class="v-align-middle">{{entity.status}}</td>
                                                                <td style="width:15%" class="v-align-middle semi-bold">{{entity.last_updated}}</td>
                                                             </tr>
                                                             <tr class="row-details">
                                                                <td colspan="4">
                                                                  <table class="table table-inline">
                                                                     <tbody>
                                                                        <tr ng-repeat="event in entity.events">

                                                                           <td ng-if="event.file_url !== undefined" style="width:45%"><a href="{{event.file_url}}" target="_blank">{{event.name}}</a></td>
                                                                           <td ng-if="event.file_url === undefined" style="width:45%">{{event.name}}</td>
                                                                           <td style="width:35%">{{event.is_complete ? 'Completed' : 'In Progress'}}</td>
                                                                           <td style="width:15%">{{event.last_updated}}</td>
                                                                           <td style="width:5%"><a href="" ng-click="openEntityModal(event)"><i class="pg-note"></i></a></td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                                </td>
                                                             </tr>
                                                          </table>
                                                         </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <hr>
                                    <div>
                                        <img src="assets/img/logo-full.png" alt="logo" data-src="assets/img/logo-full.png" ui-jq="unveil" data-src-retina="assets/img/logo-full@2x.png" width="75" height="15">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
    </div>
</div>
<!-- END CONTAINER FLUID
