<div class="register-container full-height sm-p-t-30" ng-controller="RegisterCtrl">
    <div class="container-sm-height full-height">
        <div class="row row-sm-height">
            <div class="col-sm-12 col-sm-height col-middle">
                <img src="assets/img/logo-full.png" alt="logo" data-src="assets/img/logo-full.png" ui-jq="unveil" data-src-retina="assets/img/logo-full@2x.png" width="300" height="60">
                <h4>You're one step away from closing your next deal!</h4>
                <p>
                    <small>
        To get started, please create a DealBinder account.  You'll only have to do this once.
              </small>
                </p>
                <form id="form-register" class="p-t-15" role="form" name="register" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.fname.$invalid && !register.fname.$pristine }">
                                <label>First Name</label>
                                <input type="text" name="fname" placeholder="John" class="form-control" ng-model="fname" required>
                            </div>
                            <label class="error" for="fname" ng-show="register.fname.$invalid && !register.fname.$pristine">This field is required.</label>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.lname.$invalid && !register.lname.$pristine }">
                                <label>Last Name</label>
                                <input type="text" name="lname" placeholder="Smith" class="form-control" ng-model="lname" required>
                            </div>
                            <label class="error" for="lname" ng-show="register.lname.$invalid && !register.lname.$pristine">This field is required.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.pass.$invalid && !register.pass.$pristine }">
                                <label>Password</label>
                                <input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" ng-minlength="4" ng-model="password" required>
                            </div>
                            <label class="error" for="pass" ng-show="register.pass.$invalid && !register.pass.$pristine">This field is required.</label>
                            <label class="error" for="pass" ng-show="register.pass.$error.minlength">Password should have at least 4 characters</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error': register.email.$invalid && !register.email.$pristine }">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="" class="form-control" ng-model="email" required>
                            </div>
                            <label class="error" for="email" ng-show="register.email.$invalid && !register.email.$pristine">Enter a valid email.</label>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-8">
                            <p>By creating a new account, you agree to the <a href="" data-target="#modalTOS" data-toggle="modal" class="text-info small">DealBinder Terms of Service</a> and <a href="" data-target="#modalPrivacy" data-toggle="modal" class="text-info small">Privacy Policy</a>.</p>
                        </div>
                        <!-- <div class="col-md-4 text-right">
                            <a href="" class="text-info small">Contact Support</a>
                        </div> -->
                    </div>
                    <button ng-click="createUser()" class="btn btn-primary btn-cons m-t-10" ng-disabled="register.$invalid">Create a new account</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-include src=" 'tpl/blocks/modals.html' " include-replace>
</div>
<!-- END OVERLAY -->