<!-- START PAGE-CONTAINER -->
<div class="login-wrapper " >
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" ui-jq="unveil" data-src-retina="assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white" ng-controller="LoginCtrl" >
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <a href="/"> <img src="assets/img/logo-full.png" alt="logo" data-src="assets/img/logo-full.png" ui-jq="unveil" data-src-retina="assets/img/logo-full@2x.png" width="150" height="30"></a>
            <p class="p-t-35">Sign in to your account</p>
            <!-- START Login Form -->
            <form id="form-login" name="login" class="p-t-15" role="form" novalidate>
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.email.$invalid && !login.email.$pristine }">
                    <label>Login</label>
                    <div class="controls">
                        <input type="text" name="email" placeholder="you@domain.com" class="form-control" ng-model="email" required>
                    </div>
                </div>
                <label class="error" for="email" ng-show="login.email.$invalid && !login.email.$pristine">This field is required.</label>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : login.password.$invalid && !login.password.$pristine }">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" placeholder="" ng-model="password" required>
                    </div>
                </div>
                <label class="error" for="password" ng-show="login.password.$invalid && !login.password.$pristine">This field is required.</label>
                <!-- START Form Control-->

                <div class="row">

                </div>
                <!-- END Form Control-->
                <button ng-click="login_()" class="btn btn-primary btn-cons m-t-10" ng-disabled="login.$invalid">Sign in</button>
                <button class="btn btn-secondary btn-cons m-t-10" onclick="location.href='./#/access/register';">Register</button>
            </form>
            <!--END Login Form-->

        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->
