<div class="modal-header clearfix text-left">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i class="pg-close fs-14"></i>
    </button>
    <h5>{{entity.name}}</h5>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group-attached">
            <div class="row">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Notes</label>
                        <input ng-model="entity.notes" type="text" class="form-control" id="notes-field" placeholder="Only you can see these notes">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-cons  pull-right inline" data-dismiss="modal" ng-click="ok()">Save</button>
</div>
