        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer bg-white" ng-class="{'pull-bottom': is('app.maps.vector') }">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">Copyright © 2015</span>
                    <span class="font-montserrat">DealBinder.com</span>.
                    <span class="hint-text">All rights reserved.</span>
                    <span class="sm-block"><a href="" data-target="#modalTOU" data-toggle="modal" class="m-l-10 m-r-10">Terms of Use</a> | <a href="" data-target="#modalTOS" data-toggle="modal" class="m-l-10 m-r-10">Terms of Service</a> | <a href="" data-target="#modalPrivacy" data-toggle="modal" class="m-l-10">Privacy Policy</a>
                        </span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <span class="hint-text">Got a question? </span>
                    <a href="">We're here to help.</a>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->