<!-- START HEADER -->
<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <div class="container-fluid relative">
      <!-- LEFT SIDE -->
      <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
          <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
            <span class="icon-set menu-hambuger"></span>
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <div class="pull-center hidden-md hidden-lg">
        <div class="header-inner">
          <div class="brand inline">
            <img src="assets/img/logo-full.png" alt="logo" data-src="assets/img/logo-full.png" data-src-retina="assets/img/logo-full@2x.png" width="150" height="30">
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE -->
      <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
          <a ng-if="includes('app.layouts.horizontal')" href="#" class="btn-link visible-xs-inline-block visible-sm-inline-block m-r-10" pg-horizontal-menu-toggle>

          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
            <div class="brand inline">
                <!-- <gravatar email="myself.email"></gravatar> -->
                <img src="assets/img/logo-full.png" alt="logo" data-src="assets/img/logo-full.png" ui-jq="unveil" data-src-retina="assets/img/logo-full@2x.png" width="150" height="30">
            </div>

            <!-- <a class="search-link" ng-click="showSearchOverlay()"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
        </div>
    </div>

    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{myself.fname}}</span> <span class="text-master">{{myself.lname}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <!-- <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32"> -->
                <gravatar email="myself.email"></gravatar>
            </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li><a href="" data-target="#modalUserSettings" data-toggle="modal" ng-click="openProfileModal()" ><i class="pg-settings_small"></i> Settings</a>
                    </li>
                    <!-- <li><a href=""><i class="pg-signals"></i> Help</a>
                    </li> -->
                    <li class="bg-master-lighter">
                        <a href="/" ng-click="Auth.$unauth()" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->
