<!-- New Order Modal -->
<div class="modal fade fill-in" id="modalNewOrder" tabindex="-1" role="dialog" aria-hidden="true">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog " style="width=850px!important">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="cognito">
                <script>
                Cognito.load("forms", { id: "1", entry:
                    {
                        "UUID":offUUID,
                        "Name":{
                            "First":"Andrew",
                            "Last":"Love"
                            },
                        "Email":offEmail,
                        "Phone":"(123)456-7890",
                        "Organization":"ALC"
                    } });
                    </script>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- New Order Modal -->
<div class="modal fade fill-in" id="modalTOS" tabindex="-1" role="dialog" aria-hidden="true">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog " style="width=850px!important">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p class="c14 c18"><span class="c1 c13">Terms and Conditions of Service</span></p><p class="c14"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c3">DealBinder, LLC (&ldquo;</span><span class="c1 c9">DealBinder</span><span class="c3">&rdquo;) provides services, including, without limitation, certain records and document search, retrieval and filing services and the use of an online portal through which you may view your order and input notes and other materials in your personal dashboard (the &ldquo;</span><span class="c1 c9">Services</span><span class="c3">&rdquo;) including via the DealBinder website (the &ldquo;</span><span class="c1 c9">Site</span><span class="c3">&rdquo;), subject to the following provisions contained in these Terms and Conditions of Service (the &ldquo;</span><span class="c1 c9">Terms</span><span class="c3">&rdquo;). &nbsp;By using the Services or clicking &ldquo;I accept&rdquo; at the time of ordering and/or registering for the Services, you (the &ldquo;</span><span class="c1 c9">Customer</span><span class="c3">&rdquo;) agree to be bound by and abide by the Terms. &nbsp;The DealBinder Privacy Policy and Website Terms of Use are incorporated by reference herein. &nbsp;DealBinder may change the Terms or any part thereof at any time from time to time. &nbsp;Customer&rsquo;s use of any of the Services indicates Customer&rsquo;s continued acceptance of the Terms.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Modifications to or Discontinuation of the Services</span><span class="c3">. &nbsp;DealBinder reserves the right at any time and from time to time to modify or discontinue the Services, or any part thereof, either temporarily or permanently. Customer agrees and acknowledges that DealBinder shall not be liable to Customer or to any third party for any modification, suspension or discontinuance of the Services.</span></p><p class="c0"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Fees</span><span class="c3">. &nbsp;Customer assumes liability for all charges incurred as a result of any and all services performed or caused to be performed by DealBinder on Customer&rsquo;s behalf or at Customer&rsquo;s direction. &nbsp;All charges are due and payable upon receipt of invoice provided by DealBinder.</span></p><p class="c0"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">No Legal Advice</span><span class="c3">. &nbsp;DealBinder does not provide legal advice of any kind or exercise legal judgment on behalf of Customer or any third party, nor is it engaged in rendering accounting or other professional services. &nbsp;If legal advice or other expert assistance is required, Customer should seek the services of Customer&rsquo;s own legal counsel or other competent professional to determine Customer&rsquo;s rights, responsibilities or the best course of action under the particular facts and circumstances of Customer&rsquo;s situation. &nbsp;Under no circumstances does provision of the Services or discussion with DealBinder or suggestions given by DealBinder or any of its principals, managers, employees, or agents, regarding the Services, or any order or potential order, create an attorney-client relationship. </span></p><p class="c0"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">No Insurance or Liability Coverage</span><span class="c3">. &nbsp;DealBinder does not provide insurance or other liability coverage with respect to information provided to or obtained by DealBinder or in connection with or as the result of DealBinder&rsquo;s Services.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Accuracy and Completeness</span><span class="c3">. &nbsp;DealBinder relies on the accuracy of public records maintained by government officials. &nbsp;DealBinder does not independently verify filing office information and makes no warranty of any type regarding the accuracy of filing office data, indexing of particular records or reasons for rejection. &nbsp;Customer agrees to hold DealBinder harmless from and against any claims arising from error or omission within reports provided to or by DealBinder in connection with Services provided to Customer, whether fault lies with DealBinder or any of its agents or subcontractors, with the government agency or personnel that populates or maintains the relevant database, or with the filer or retriever of any particular document.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c3">Customer acknowledges its understanding that:</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c3">(i)</span><span class="c17 c12">&nbsp; &nbsp; &nbsp;</span><span class="c3">there is no assurance that any search conducted by or at the direction of DealBinder will uncover all items filed, and Customer assumes such risk; &nbsp;</span></p><p class="c0"><span class="c3">(ii)</span><span class="c17 c12">&nbsp; &nbsp;</span><span class="c3">the ability to search public records may be limited, restricted, or unavailable in some jurisdictions;</span></p><p class="c0"><span class="c3">(iii)</span><span class="c12 c17">&nbsp; </span><span class="c3">some searching, filing and reporting may actually be performed by federal, state and local agencies or private companies or individuals that subcontract with DealBinder whose performance is not directly supervised by DealBinder and whose services may be provided subject to provisions such as disclaimers and/or limitations of liability that may be binding on DealBinder and Customer, and DealBinder has no way to detect errors or omissions made by such parties, their computer systems or databases; and</span></p><p class="c0"><span class="c3">(iv)</span><span class="c17 c12">&nbsp; </span><span class="c3">it is solely Customer&rsquo;s responsibility to determine and comply with applicable law.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Scope</span><span class="c3">. &nbsp;DealBinder cannot determine the appropriate breadth or scope of any search or filing by Customer or advise Customer as to what should or should not be searched or filed in order to achieve Customer&rsquo;s goals. While DealBinder may discuss searches and filings with Customer and make suggestions, these suggestions are not and should not be construed as legal advice. &nbsp;In addition, DealBinder does not in any way represent or warrant that it has any obligation to provide advice or that suggestions given by DealBinder will result in locating all relevant records or documents.</span></p><p class="c0"><span class="c3 c6">&nbsp;</span></p><p class="c0"><span class="c3 c6">DealBinder may provide a forms via its website or other medium with options to select government indices or locations available to search liens, litigation, and other public records in order to assist </span><span class="c3">Customer </span><span class="c3 c6">in organizing a search request. &nbsp;However,</span><span class="c3">&nbsp;it is solely Customer&rsquo;s responsibility to determine which jurisdictions and indices should be searched, to communicate such information to DealBinder, and to indicate to DealBinder any additional jurisdictions required, regardless of whether such jurisdictions may be selected via a form provided by DealBinder on its website or through other communication with Customer. &nbsp;B</span><span class="c3 c6">y use of any such form, </span><span class="c3">Customer </span><span class="c3 c6">acknowledges and agrees that DealBinder assumes no liability whatsoever pertaining to the search or filing choices selected or omitted, and </span><span class="c3">Customer </span><span class="c3 c6">agrees to indemnify and hold harmless DealBinder in any proceeding, claim or event resulting from said choices.</span></p><p class="c0"><span class="c3 c6">&nbsp;</span></p><p class="c0"><span class="c3">DealBinder may, in its sole discretion, search for (or cause a search to be performed for) one or more portions or variations of a name; however, it undertakes no obligation to do so. &nbsp;If DealBinder undertakes to do so, there can be no assurance that it will accurately determine the precise portion(s) or variation(s) of the name that will uncover all filings that have been made with respect to the subject of the request.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Results and Reports</span><span class="c3">.</span><span class="c3">&nbsp; </span><span class="c1 c9">ANY AND ALL REPORTS OR SUMMARIES FURNISHED BY DEALBINDER TO CUSTOMER, INCLUDING, BUT NOT LIMITED TO, THOSE PROVIDED VIA E-MAIL, MAIL OR VIA CUSTOMER&rsquo;S DASHBOARD ON THE DEALBINDER WEBSITE, ARE PROVIDED FOR CONVENIENCE ONLY AND</span><span class="c3">&nbsp;</span><span class="c1 c9">DEALBINDER MAKES NO WARRANTY AS TO THE ACCURACY, COMPLETENESS OF SUCH REPORTS AND SUMMARIES</span><span class="c3">. &nbsp;Such reports and summaries provided in connection with services rendered to Customer will contain information received in response to the specific search, filing or document retrieval requested by Customer. &nbsp;Except as otherwise provided herein, DealBinder will perform a search, filing, or document retrieval, or cause a third party to perform such search or filing or retrieval, for only those names, for only the specific type of record or filing, and in only those jurisdictions, governmental offices, agencies, and index databases, as set forth by Customer in the applicable request.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c3">A search report may, but will not necessarily, include information with respect to filings recorded under variations of the name requested to be searched. &nbsp;Search reports generally include information only about filings indexed and maintained by the recording office under a party name that exactly matches the party name provided by Customer.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c3">Customer must promptly review and verify the accuracy of all reports, filing acknowledgements and rejection notices. &nbsp;Customer must notify DealBinder immediately of any errors, discrepancies or other potential issues.</span></p><p class="c0 c15"><span class="c3"></span></p><p class="c0"><span class="c1 c13 c9">User Submitted Content</span><span class="c3">. &nbsp;</span><span class="c3 c6">In using the Site and Services, Customer may be permitted to type, input, upload, post, display and/or publish (&ldquo;</span><span class="c1 c6 c9">post</span><span class="c3 c6">&rdquo;) information, documents, or other materials (collectively, &ldquo;</span><span class="c1 c6 c9">User Content</span><span class="c3 c6">&rdquo;), including for example, the option to add notes to Customer&rsquo;s user dashboard on the Site. Customer acknowledges, agrees, represents and warrants that (i) Customer is solely responsible for any User Content and for ensuring that such content complies with these Terms; (ii) Customer has all necessary rights, licenses and permissions needed to post the material at the Site and have it used as contemplated by these Terms (including but not limited to all copyright and trade secret rights); and (iii) no money will be owing to any person or entity, and DealBinder shall bear no liability, as a result of the posting or use of any User Content or its use as contemplated by these Terms. Customer will be responsible for all User Content submitted by Customer or through Customer&rsquo;s account and, for all purposes hereunder, all User Content submitted from a User account shall be deemed to have been submitted by Customer.</span></p><p class="c0"><span class="c3 c6">&nbsp;</span></p><p class="c0"><span class="c3 c6">Any User Content sought to be posted at the Site, in the exclusive opinion of DealBinder, must (and Customer represents, warrants and covenants that it shall): (i) conform to all applicable laws, rules and regulations; (ii) be appropriate in the context of the general purposes of the Site. Customer is responsible for any applicable vertical or industry-specific compliance (e.g., HIPAA).</span></p><p class="c0"><span class="c3 c6">&nbsp;</span></p><p class="c0"><span class="c3 c6">Customer further acknowledges and agrees that DealBinder has no responsibility for, and makes no representations concerning, any User Content and expressly disclaims any and all liability relating to or in connection with any User Content, including but not limited to Customer&rsquo;s input or use thereof. However, in addition to all other rights it has under this Agreement, at law or in equity, DealBinder reserves the right, in its sole discretion, to remove without notice, or refuse to post, any User Content.</span></p><p class="c0"><span class="c3 c6">&nbsp;</span></p><p class="c0"><span class="c3 c6">DealBinder relies upon third party providers (such as Firebase and Box) for various features of the Site, such as data storage, including storage of User Content. To the extent that such providers store or have access to User Content, DealBinder believes that such providers meet commercially reasonable security standards. &nbsp;DealBinder may need Customer permission to allow DealBinder and its third party providers to do things such as storing, accessing and processing User Content, including for DealBinder&rsquo;s own testing, debugging and ongoing development purposes. By posting User Content, Customer expressly grants all such permissions. </span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">DISCLAIMER OF REPRESENTATION AND WARRANTIES</span><span class="c3">. &nbsp;DealBinder makes no representation, warranty or guarantee as to the accuracy or completeness of any search report provided by DealBinder or as to the effectiveness of any filing. &nbsp;Filing records are public information compiled, maintained and indexed by state, local and federal agencies and other fallible sources, and DealBinder does not independently verify the accuracy of searches or the effectiveness of filings; rather DealBinder&rsquo;s involvement is limited to searching certain databases and requesting government agencies and private companies to search, retrieve and file information. </span><span class="c1">SEARCH RESULTS, REPORTS, SUMMARIES, SERVICES, AND THE DEALBINDER WEBSITE ARE PROVIDED TO CUSTOMER ON AN &ldquo;</span><span class="c1 c22">AS IS</span><span class="c1">&rdquo; BASIS, AND THERE ARE NO WARRANTIES WITH RESPECT THERETO.</span><span class="c12">&nbsp; </span><span class="c1">DEALBINDER HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE OR USE WITH RESPECT TO SERVICES PROVIDED, OR ARISING FROM A COURSE OF DEALING, USAGE, TRADE OR PRACTICE. &nbsp;CUSTOMER EXPRESSLY DISCLAIMS THAT IT HAS CONTRACTED FOR OR RECEIVED ANY WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE WITH RESPECT TO ANY DEALBINDER SERVICES.</span></p><p class="c0"><span class="c12">&nbsp;</span></p><p class="c0"><span class="c1">CUSTOMER &nbsp;EXPRESSLY AGREES AND UNDERSTANDS THAT:</span></p><ol class="c25 lst-kix_56i38dz9u66r-0 start" start="1"><li class="c0 c20"><span class="c1">CUSTOMER&rsquo;S USE OF THE SERVICES IS AT CUSTOMER&rsquo;S SOLE RISK. &nbsp;</span></li><li class="c0 c20"><span class="c1">DEALBINDER MAKES NO WARRANTY THAT (I) THE SERVICES WILL MEET CUSTOMER&rsquo;S REQUIREMENTS, (II) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, OR SECURE, (III) THERE ARE NO ERRORS OR OMISSIONS IN THE SERVICES OR DATA TRANSMITTED THROUGH THE WEBSITE OR THROUGH EMAIL IN CONNECTION WITH THE SERVICES, INCLUDING BUT NOT LIMITED TO INACCURACIES AND TYPOGRAPHICAL ERRORS, OR (IV) THAT ANY ERRORS IN THE SERVICE OR DATA WILL BE CORRECTED.</span></li><li class="c0 c20"><span class="c1">NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY CUSTOMER FROM DEALBINDER SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS. </span></li></ol><p class="c0 c15"><span class="c3"></span></p><p class="c0"><span class="c1 c10">DEALBINDER, ITS AFFILIATES, AND THEIR RESPECTIVE OFFICERS, EMPLOYEES, AGENTS AND SUCCESSORS SHALL NOT BE LIABLE TO CUSTOMER FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, COVER OR OTHER INTANGIBLE LOSSES (EVEN IF DEALBINDER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) RESULTING FROM: </span></p><p class="c0 c5"><span class="c1 c10">(i) THE USE OR THE INABILITY TO USE THE SERVICES; </span></p><p class="c0 c5"><span class="c1 c10">(ii) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES RESULTING FROM ANY GOODS, PRODUCTS, DATA, INFORMATION OR SERVICE PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICES; </span></p><p class="c0 c5"><span class="c1 c10">(iii) UNAUTHORIZED ACCESS TO OR THE LOSS, CORRUPTION OR ALTERATION OF CUSTOMER&rsquo;S TRANSMISSIONS, CONTENT OR DATA; </span></p><p class="c0 c5"><span class="c1 c10">(iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON OR USING THE SERVICES, OR PROVIDING ANY SERVICES RELATED TO THE OPERATION THERETO; </span></p><p class="c0 c5"><span class="c1 c10">(v) DEALBINDER&rsquo;S ACTIONS OR OMISSIONS IN RELIANCE UPON CUSTOMER&rsquo;S ACCOUNT INFORMATION AND ANY CHANGES THERETO OR NOTICES RECEIVED THEREFROM; </span></p><p class="c0 c5"><span class="c1 c10">(vi) CUSTOMER FAILURE TO PROTECT THE CONFIDENTIALITY OF ANY PASSWORDS OR ACCESS RIGHTS TO CUSTOMER&rsquo;S ACCOUNT INFORMATION; </span></p><p class="c0 c5"><span class="c1 c10">(vii) THE TERMINATION OF CUSTOMER&rsquo;S ACCOUNT IN ACCORDANCE WITH THE THESE TERMS; OR </span></p><p class="c0 c5"><span class="c1 c10">(viii) ANY OTHER MATTER RELATING TO THE SERVICES.</span></p><p class="c0 c5 c15"><span class="c8"></span></p><p class="c0"><span class="c1 c13 c9">LIMITATION OF LIABILITY</span><span class="c3">. &nbsp;This Limitation of Liability sets forth the full extent of DealBinder&rsquo;s liability hereunder for any claim against DealBinder and sets forth Customer&rsquo;s sole remedy. &nbsp;DealBinder shall not under any circumstances be responsible or liable to Customer or to any third party for any claims of indirect, special, incidental or consequential damages, such as, but not limited to, lost profits, injury to goodwill, or other economic loss arising out of or relating directly or indirectly to performance of DealBinder&rsquo;s services or for punitive damages or specific performance. </span><span class="c1 c11 c9">&nbsp;</span><span class="c1">NOTWITHSTANDING ANYTHING ELSE CONTAINED HEREIN, THE MAXIMUM LIABILITY OF DEALBINDER (INCLUDING THE LIABILITY OF ANY EMPLOYEE, PRINCIPAL OR AGENT OF DEALBINDER, AND IRRESPECTIVE OF WHETHER DEALBINDER MAY HAVE BEEN OR MAY BE ALLEGED TO HAVE BEEN NEGLIGENT OR OTHERWISE LEGALLY AT FAULT, AND IRRESPECTIVE OF INSURANCE COVERAGE MAINTAINED BY DEALBINDER, CUSTOMER OR ANY THIRD PARTY), AND CUSTOMER&rsquo;S SOLE AND EXCLUSIVE REMEDY FOR ANY CLAIM OF ANY TYPE WHATSOEVER ARISING OUT OF OR IN CONNECTION WITH ANY SERVICES PROVIDED TO CUSTOMER, SHALL BE LIMITED TO AND SHALL IN NO EVENT EXCEED THE FEE (IF ANY) RECEIVED BY DEALBINDER FOR THE PARTICULAR SERVICES WHICH ARE THE SUBJECT OF THE CLAIM OR DISPUTE.</span></p><p class="c0 c15"><span class="c1"></span></p><p class="c0"><span class="c1">CUSTOMER AGREES TO INDEMNIFY AND HOLD DEALBINDER, ITS AFFILIATES, OFFICERS, AGENTS, EMPLOYEES AND PARTNERS HARMLESS FROM AND AGAINST ANY AND ALL CLAIMS, LIABILITIES, DAMAGES (ACTUAL AND CONSEQUENTIAL), LOSSES, EXPENSES (INCLUDING LEGAL FEES) ARISING FROM OR IN ANY WAY RELATED TO ANY THIRD PARTY CLAIMS RELATING TO CUSTOMER&rsquo;S USE OF THE SERVICES, INCLUDING ANY ACTIONS TAKEN UNDER CUSTOMER&rsquo;S ACCOUNT. &nbsp;IN THE EVENT OF SUCH A CLAIM, DEALBINDER WILL ENDEAVOR TO PROVIDE NOTICE OF THE CLAIM, SUIT OR ACTION TO THE CONTACT INFORMATION DEALBINDER HAS FOR THE ACCOUNT, PROVIDED THAT ANY FAILURE TO DELIVER SUCH NOTICE TO CUSTOMER SHALL NOT ELIMINATE OR REDUCE CUSTOMER&rsquo;S INDEMNIFICATION OBLIGATIONS HEREUNDER.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Reliance on Instructions</span><span class="c3">. &nbsp;DealBinder may act in reliance upon any instruction, information, document, filing, name, email address or user password that meets the DealBinder website&rsquo;s automated criteria or which is believed by DealBinder personnel to be genuine. &nbsp;For any password protected areas, DealBinder may assume that a person entering a user name address and associated password is, in fact, that user or is authorized by that user to act on its behalf. &nbsp;DealBinder may assume the latest email addresses and registration information on file with DealBinder are accurate and current. &nbsp;When programmed to do so, DealBinder may take prescribed actions in the absence of receiving proper and complete contrary instructions.</span></p><p class="c0 c15"><span class="c3"></span></p><p class="c0"><span class="c1 c9 c13">Integration</span><span class="c3">. &nbsp;These Terms govern Customer&rsquo;s use of the Services and constitute the entire agreement between Customer and DealBinder with respect to the provision of the Services, superseding any prior agreements, either oral or in writing, between Customer and DealBinder with respect to the subject matter contained in these Terms.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Waiver</span><span class="c3">. &nbsp;The failure of DealBinder to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. </span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Severability</span><span class="c3">. &nbsp;If any term or provision of the Terms is held to be invalid, void or unenforceable by a court or arbitrator of competent jurisdiction, the remainder of the Terms will not be affected, impaired or invalidated and each remaining term or provision will be valid and enforceable to the fullest extent permitted by law.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Fair Credit Reporting Act</span><span class="c3">. </span><span class="c1 c9">&nbsp;</span><span class="c3">Customer agrees that information that DealBinder furnishes to Customer will be used solely as one factor in Customer&rsquo;s credit, insurance, marketing or other business decisions and will not be used (i) in determining a consumer&#39;s eligibility for credit or insurance where such credit or insurance is to be used primarily for personal, family or household purposes, (ii) for employment purposes, or (iii) for governmental licenses. Use of the information in the above manner is a violation of the Fair Credit Reporting Act.</span></p><p class="c0 c15"><span class="c3"></span></p><p class="c0"><span class="c1 c13 c9">Governing Law, Jurisdiction and Legal Notice</span><span class="c3">. &nbsp; The Terms shall be governed and construed under the laws of the State of New York, without regard to its choice of law provisions. &nbsp; Customer agrees that any action at law or in equity arising out of or relating to the Terms or any of DealBinder&rsquo;s services will be filed only in the state or federal courts located in New York. &nbsp;Customer consents to the personal jurisdiction of such courts for the purpose of litigating any such action.</span></p><p class="c0"><span class="c3">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Headings</span><span class="c3">. &nbsp;The headings of each section of the Terms have been inserted for convenience of reference only and shall not affect the interpretation of the provisions of the Terms.</span></p><p class="c0"><span class="c1 c13 c9">&nbsp;</span></p><p class="c0"><span class="c1 c13 c9">Successors and Assigns</span><span class="c3">. &nbsp;The Terms shall be binding and inure to the benefit of DealBinder and Customer, their successors and assigns. </span></p><p class="c14"><span class="c1 c9 c11">&nbsp;</span></p><p class="c14"><span class="c1 c4">[ ___ </span><span class="c1 c4">I agree to the above Terms and Conditions of Service.]</span></p><p class="c14"><span>&nbsp;</span></p><p class="c14 c15"><span></span></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- New Order Modal -->
<div class="modal fade fill-in" id="modalTOU" tabindex="-1" role="dialog" aria-hidden="true">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog " style="width=850px!important">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p class="c5"><span class="c3 c7">Website Terms of Use</span></p><p class="c1"><span class="c2 c3">&nbsp;</span></p><p class="c1"><span class="c2">This web site (&quot;</span><span class="c2 c3">Web Site</span><span class="c2">&quot;) is a service made available by DealBinder, LLC (&ldquo;</span><span class="c2 c3">DealBinder</span><span class="c2">&rdquo;) and all content, information and software provided on or through the Web Site may be used solely under the terms and conditions (&quot;</span><span class="c2 c3">Terms of Use</span><span class="c2">&quot;) set forth below. By accessing the Web Site, you acknowledge that you have read and accept such Terms of Use and the Privacy Policy and Terms and Conditions of Service posted on the WebSite and &nbsp;incorporated by reference &nbsp;herein. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Web Site License</span><span class="c2 c3">. &nbsp;</span><span class="c2">As a user of this Web Site, you are granted a nonexclusive, nontransferable, revocable, limited license to access and use the Web Site in accordance with these Terms of Use. DealBinder may terminate this license at any time for any reason. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Limitations on Use</span><span class="c2 c3">. &nbsp;</span><span class="c2">Use of the content on this Web Site is limited to lawful business purposes. You may not reverse engineer, disassemble, rent, lease, loan, sell, sublicense, or create derivative works from the Web Site or content. You may not use any network monitoring or discovery software to determine the site architecture, or extract information about usage or users. You may not copy, modify, reproduce, republish, distribute, display, or transmit for commercial, non-profit or public purposes all or any portion of the Web Site, except to the extent specifically permitted herein. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">No Legal Advice</span><span class="c2 c3">. &nbsp;</span><span class="c2">Use of this Web Site does not form an attorney-client relationship. The content of this Web Site is for informational purposes only and is not intended to serve as a source for legal, accounting, or financial advice. If you require legal advice or other expert assistance, the services of a competent professional in your jurisdiction should be sought. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">E-Mail Communications</span><span class="c2 c3">. &nbsp;</span><span class="c2">If you communicate with DealBinder by e-mail, you should be aware that the security of Internet e-mail is uncertain. By sending confidential and/or sensitive information via e-mail that is not encrypted, you accept the risks of such uncertainty and possible lack of confidentiality over the Internet. Therefore, you should consider other means of communication to send confidential and/or sensitive information to us. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Third-Party Links</span><span class="c2 c3">. &nbsp;</span><span class="c2">Third-party Internet sites that can be accessed through this Web Site by links contain information not under the control of DealBinder. Accordingly, we disclaim any responsibility for the content of any such third-party web sites. Links to other sites contained herein are exclusively for user&#39;s convenience and no warranty of whatsoever nature is provided by DealBinder as to such sites or their contents. Any link to a third party product, service, or page is provided for convenience and DealBinder assumes no liability or responsibility for the contents thereof.</span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Registration</span><span class="c2 c3">. &nbsp;</span><span class="c2">Certain sections of the Web Site require you to register. If registration is requested, you agree to provide DealBinder with true, accurate, current and complete registration information as prompted by the registration form. It is your responsibility to inform DealBinder of any changes to that information. Each registration is for a single person only. DealBinder does not permit access through a single name to be made available to multiple users on a network. You are responsible for preventing such unauthorized use and for protecting the security of your user name and password. If you provide any information that is untrue, inaccurate, not current or incomplete, or DealBinder has reasonable grounds to believe that such information is untrue, inaccurate, not current or incomplete, DealBinder reserves the right to suspend or terminate your account and to refuse any and all current or future use of the Services.</span></p><p class="c1 c4"><span class="c0"></span></p><p class="c1"><span class="c0">Reliance on Instructions</span><span class="c2 c3">.</span><span class="c2">&nbsp; </span><span class="c2">DealBinder may act in reliance upon any instruction, information, document, filing, name, email address or user password that meets the DealBinder website&rsquo;s automated criteria or which is believed by DealBinder personnel to be genuine. &nbsp;For any password protected areas, DealBinder may assume that a person entering a user name address and associated password is, in fact, that user or is authorized by that user to act on its behalf. &nbsp;DealBinder may assume the latest email addresses and registration information on file with DealBinder are accurate and current. &nbsp;When programmed to do so, DealBinder may take prescribed actions in the absence of receiving proper and complete contrary instructions. </span></p><p class="c1 c4"><span class="c0"></span></p><p class="c1"><span class="c0">Disclaimer of Warranty</span><span class="c2 c3">. &nbsp;</span><span class="c2">While reasonable care has been used in collecting and displaying information contained herein, DealBinder makes no warranties or representations of any kind concerning any information made available on or through this Web Site. The content of this Web Site is provided only as general information. DealBinder expressly disclaims all liability with respect to actions taken or not taken based upon such information or with respect to any errors or omissions contained in such information. Your use of the Web Site is at your own risk. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c2 c3">THE WEB SITE IS PROVIDED ON AN &quot;AS IS&quot; AND &quot;WHERE IS&quot; BASIS, WITHOUT ANY WARRANTY. DEALBINDER MAKES NO REPRESENTATIONS OR WARRANTIES IN CONNECTION WITH THE WEB SITE, INCLUDING BUT NOT LIMITED TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY CONTENT, INFORMATION, PRODUCT OR SERVICE CONTAINED ON THE WEB SITE, AND EXPRESSLY DISCLAIMS ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Limitation of Liability</span><span class="c2 c3">. &nbsp;DEALBINDER DISCLAIMS ALL RESPONSIBILITY FOR ANY LOSS, INJURY, CLAIM, LIABILITY, OR DAMAGE OF ANY KIND, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, ARISING FROM OR CONNECTED WITH THE WEB SITE, INCLUDING BUT NOT LIMITED TO YOUR USE OF THE WEB SITE OR YOUR INABILITY TO USE THE WEB SITE, EVEN IF DEALBINDER HAS PREVIOUSLY BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Unlawful Activity</span><span class="c2 c3">. </span><span class="c2">DealBinder reserves the right to report any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclose any information necessary to such persons or entities relating to user profiles, e-mail addresses, usage history, posted materials, IP addresses and traffic information. You acknowledge that DealBinder will have the right to report to law enforcement authorities any action that may be considered illegal, as well as any reports it receives of such conduct. When requested, DealBinder will cooperate fully with law enforcement agencies in any investigation of alleged illegal activity. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Remedies</span><span class="c2 c3">. &nbsp;</span><span class="c2">DealBinder reserves the right to seek all remedies at law and in equity for violations of these Terms of Use, including but not limited to the right to block access from a particular Internet address to the Web Site and its features. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Force Majeure</span><span class="c2 c3">. &nbsp;</span><span class="c2">DealBinder is not responsible for any delay or failure in performance of the web site in whole or in part for any reason including, without limitation: fires, floods, storms, earthquakes, civil disturbances, disruption of telecommunications, transportation, utilities, services or supplies, governmental action, computer viruses, corruption of data, hacker attack, incompatible or defective equipment, software or services or otherwise. Nothing herein enlarges any warranty or diminishes any disclaimer under these Terms of Use.</span></p><p class="c1"><span class="c2 c3">&nbsp;</span></p><p class="c1"><span class="c0">Modification to Terms of Use</span><span class="c2 c3">. &nbsp;</span><span class="c2">DealBinder reserves the right to change these Terms of Use at any time by updating this posting. Updated versions of these Terms of Use will appear on the Web Site and are effective immediately. Continued use of the Web Site after any such changes constitutes your consent to such changes. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Governing Law</span><span class="c2 c3">. &nbsp;</span><span class="c2">These Terms of Use are governed by and construed in accordance with the laws of the United States of America and the State of Texas, without reference to conflicts of law principles of any jurisdiction. You agree to submit to the exclusive jurisdiction of the courts located in the State of Texas for resolution of all disputes arising from or related to these Terms of Use and/or your use of the Web Site. </span></p><p class="c1"><span class="c2">&nbsp;</span></p><p class="c1"><span class="c0">Entire Agreement and Severability of Provisions</span><span class="c2 c3">. &nbsp;</span><span class="c2">These Terms of Use incorporate by reference any notices contained on the Web Site, including without limitation the Privacy Policy. The Terms of Use constitute the entire agreement with respect to access to and use of the Web Site. If any provision of these Terms of Use is unlawful, void or unenforceable then that provision shall be deemed severable from the remaining provisions and shall not affect the validity and enforceability of the remaining portion of these Terms of Use. </span></p><p class="c1 c4"><span class="c2"></span></p><p class="c1"><span class="c0">Copyright Notice</span><span class="c2">. DealBinder, LLC. All rights reserved. DealBinder, LLC owns all copyright and other rights in and to the content of this Web Site including the arrangement and presentation of the information contained herein and this Web Site&#39;s design.</span></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- New Order Modal -->
<div class="modal fade fill-in" id="modalPrivacy" tabindex="-1" role="dialog" aria-hidden="true">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close"></i>
    </button>
    <div class="modal-dialog " style="width=850px!important">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p class="c5"><span class="c8 c15">DealBinder Privacy Policy</span><span class="c2">&nbsp;</span></p><p class="c5"><span class="c6">&nbsp;</span></p><p class="c0"><span class="c1">Your privacy is of the utmost importance to us. We want to make your experience online satisfying and safe. &nbsp;This Privacy Policy (the &ldquo;</span><span class="c1 c8">Policy</span><span class="c1">&rdquo;) explains how we handle and protect your personal and company data, how we gather this data, and how we manage this data to serve you.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">Please read this Policy before using the DealBinder website (the &ldquo;</span><span class="c1 c8">Site</span><span class="c1">&rdquo;) and services or submitting any personal information or other content through the Site. &nbsp;Your use of the Site and our services constitutes your agreement to this Policy, and the Terms of Use and Terms and Conditions of Service, which are posted on the Site and incorporated by reference into this Policy.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">DealBinder uses generally accepted tools and techniques to protect your personal data against unauthorized disclosure. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially reasonable means to protect your information, we cannot guarantee its absolute security.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">We may change this Policy at any time as needed to accurately reflect how we gather and manage your data. &nbsp;We will post updated versions of the Policy on the Site without any other notice to you and changes will be effective immediately upon posting. &nbsp;By continuing to use our Site and services, you signify your agreement to the Policy. &nbsp;We encourage you to review the Policy periodically so that you are aware of how the information you provide will be used. This Policy is effective as of January 28, 2016.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c7"><span class="c1 c8">Use of Personal Information</span></p><p class="c5"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c1">We collect personally identifiable information, like names, titles, postal addresses, email addresses, etc., when submitted by our visitors. &nbsp;We use the information we gather and track to improve the Site and make it more valuable and responsive to you. &nbsp;We may use the personal data we collect:</span></p><p class="c0"><span class="c1">&nbsp;</span></p><ul class="c16 lst-kix_gnbq1cctshws-0 start"><li class="c0 c3"><span class="c1">To verify your identity when accessing information only appropriate for you.</span></li><li class="c0 c3"><span class="c1">To send requested information faster by eliminating the need for you to repeatedly enter your contact information.</span></li><li class="c0 c3"><span class="c1">For billing and collection purposes.</span></li><li class="c0 c3"><span class="c1">To provide you with information, goods and/or services, newsletters and special offers that you have requested or which may be of interest to you.</span></li><li class="c0 c3"><span class="c1">To contact you in connection with support-related activities.</span></li><li class="c0 c3"><span class="c1">To contact you in the event that we have announcements regarding the Site or its features or to highlight information on the Site that is of particular interest to you.</span></li><li class="c0 c3"><span class="c1">To better understand how users access and use our Site, both on an aggregated and individualized basis, in order to improve our Site and respond to user desires and preferences, and for other research and analytical purposes.</span></li><li class="c0 c3"><span class="c1">To fulfill any other purpose for which you provided it.</span></li></ul><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">We do not sell or offer your personally identifiable information to third parties for marketing or other purposes. We will not release your personal information to nonaffiliated parties except: (1) as necessary for us to provide the product or service you have requested of us; or (2) as permitted or required by law. &nbsp;In some instances, we may be obligated to disclose certain information pursuant to a court order, subpoena, search warrant or law enforcement request. We may also share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or (3) investigating fraud which has already taken place.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">DealBinder may, from time to time, collect and distribute aggregate demographic information about our visitors and users. This aggregate information summarizes interests and does not reveal the identities or interests of any individual user. &nbsp;We also gather aggregated tracking information derived mainly by tallying page views throughout our Site. &nbsp;This information allows us to better tailor our content to users&rsquo; needs and understand the demographics of our users.</span></p><p class="c5"><span class="c6">&nbsp;</span></p><p class="c0"><span class="c2 c12">User Submitted Content</span></p><p class="c0"><span class="c6">&nbsp;</span></p><p class="c0"><span class="c1">In using our Site and services, you may be permitted to type, input, upload, post, display and/or publish (&ldquo;</span><span class="c1 c9">post</span><span class="c1">&rdquo;) information, documents, or other materials (collectively, &ldquo;</span><span class="c1 c9">User Content</span><span class="c1">&rdquo;). &nbsp;For example, you may have the option to add your own notes to your user dashboard on the Site.</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">DealBinder relies upon third party providers (such as Firebase and Box) and microservers to operate various features of the Site and to store data, including User Content. &nbsp;To the extent that such providers are used to store or have access to personal information data or User Content, we believe that such providers meet commercially reasonable security standards. &nbsp;</span></p><p class="c0"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1 c9">However, by using the Site and our services, including your posting of any User Content through the Site, you acknowledge your understanding that </span><span class="c2">no data security measures can guarantee 100% security. &nbsp;</span><span class="c1">You further acknowledge and agree that DealBinder will have no responsibility for, and expressly disclaims any and all liability relating to or in connection with any User Content, including but not limited to Customer&rsquo;s input or use thereof. &nbsp;You are solely responsible for any applicable vertical or industry-specific compliance (e.g., HIPAA, confidentiality requirements) with respect to any User Content or other information you release or input into your user dashboard or other areas of the Site. &nbsp;All User Content submitted from your account shall be deemed to have been submitted by you. &nbsp;DealBinder reserves the right, in its sole discretion, to remove without notice, or refuse to post, any User Content.</span></p><p class="c0"><span class="c2">&nbsp;</span></p><p class="c0"><span class="c1">We may need your permission to allow our third party providers and us to do things such as storing, accessing and processing your personal information and User Content, including for our own testing, debugging and ongoing development purposes. By posting User Content, you grant all such permissions.</span></p><p class="c5"><span class="c1">&nbsp;</span></p><p class="c7"><span class="c1 c8">Security</span></p><p class="c5"><span class="c6">&nbsp;</span></p><p class="c0"><span class="c6">We take reasonable precautions, including, where appropriate, password protection, encryption, SSL, and internal restrictions on who may access data to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee 100% security and no Internet transmission is ever 100% secure or error-free.</span></p><p class="c0"><span class="c6">&nbsp;</span></p><p class="c0"><span class="c6">In particular, email sent to or from this Site may not be secure, and you should therefore take special care in deciding what information you send to us. &nbsp;Moreover, where you use passwords, user names, or other special access features on this Site, it is your responsibility to safeguard them. &nbsp;You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private. &nbsp;We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity. </span></p><p class="c5"><span class="c1 c8">&nbsp;</span></p><p class="c7"><span class="c1 c8">Third Party Links</span></p><p class="c5"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">For your convenience, our Site and services may contain links to third party websites not affiliated with DealBinder. &nbsp;Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third party websites. &nbsp;While we try to link to sites that share our high standards and respect for privacy, we are not responsible for the information practices of such third party websites and can make no promises or guarantees regarding personal data collection or privacy practices on websites that are not owned or operated by DealBinder. </span></p><p class="c5"><span class="c1">&nbsp;</span></p><p class="c7"><span class="c1 c8">Cookies</span></p><p class="c5"><span class="c1 c12">&nbsp;</span></p><p class="c0"><span class="c1">We may use cookies and similar technologies to assist with user authentication, understand how you use our Site to better serve you and save you time, and do things like measure Site activity and marketing efforts. &nbsp;Cookies are useful for recognizing you and your access privileges for certain locations on the Site. You can refuse cookies by turning them off in your browser.</span></p><p class="c5"><span class="c6">&nbsp;</span></p><p class="c7"><span class="c1 c8">Children&rsquo;s Information</span></p><p class="c5"><span class="c1">&nbsp;</span></p><p class="c0"><span class="c1">We do not knowingly collect information from children under the age of 13 and we do not target our websites to children under 13. If we determine that an individual under the age of 13 has submitted information to this site, we will delete that information.</span></p><p class="c5"><span class="c1">&nbsp;</span></p><p class="c7"><span class="c1 c8">Contact</span></p><p class="c5"><span class="c1 c9">&nbsp;</span></p><p class="c0"><span class="c1">If you have any questions, concerns, or comments about our Privacy Policy, you may write to info@dealbinder.com.</span></p><p class="c5 c13"><span class="c1"></span></p><p class="c5"><span class="c6">&nbsp;</span></p><p class="c5 c13"><span class="c6"></span></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- MODAL SLIDE UP SMALL  -->
<!-- Modal -->
<div class="modal fade slide-up disable-scroll" id="modalSlideUpSmall" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">You have subscribed</h4>
                    <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Payment <span class="semi-bold">Information</span></h5>
                <p>We need payment information inorder to process your order</p>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default">
                                    <label>Company Name</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div pg-form-group class="form-group form-group-default">
                                    <label>Card Number</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div pg-form-group class="form-group form-group-default">
                                    <label>Card Holder</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="p-t-20 clearfix p-l-10 p-r-10">
                            <div class="pull-left">
                                <p class="bold font-montserrat text-uppercase">TOTAL</p>
                            </div>
                            <div class="pull-right">
                                <p class="bold font-montserrat text-uppercase">$20.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 m-t-10 sm-m-t-10">
                        <button type="button" class="btn btn-primary btn-block m-t-5">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- END MODAL STICK UP SMALL ALERT -->
<!-- MODAL STICK UP SMALL ALERT -->
<div class="modal fade slide-right" id="modalSlideLeft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="modal-body col-xs-height col-middle text-center   ">
                            <h5 class="text-primary ">Before you <span class="semi-bold">proceed</span>, you have to login to make the necessary changes</h5>
                            <br>
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
                            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP SMALL ALERT -->
