<!-- New Order Modal -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="pg-close"></i>
  </button>
</div>
<div class="modal-body">
    <div class="cognito">
    <script>
    Cognito.load("forms", { id: "1", entry:
        {
            "UUID":"f85e27c5-e180-49b1-9ba1-81b686db461f",
            "Name":{
                "First":"Andrew",
                "Last":"Love"
                },
            "Email":"me+test@andrewtlove.com",
            "Phone":"(123)456-7890",
            "Organization":"ALC"
        } });
        </script>
    </div>
</div>
<div class="modal-footer">
</div>
<!-- /.modal-dialog -->
<!-- New Order Modal -->
