<!-- User Settings Modal -->
<div class="modal-header clearfix text-left">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true"><i class="pg-close fs-14"></i>
    </button>
    <h5>Settings</h5>
</div>
<div class="modal-body">
    <form role="form">
        <p class="m-t-10">Personal Information</p>
        <div class="form-group-attached">
            <div class="row">
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default">
                        <label>First Name</label>
                        <input type="text-center" class="form-control" ng-model="profile.fname">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="profile.lname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" ng-model="profile.phone">
                    </div>
                </div>
            </div>
        </div>
        <p class="m-t-10">Company Information</p>
        <div class="form-group-attached">
            <div class="row">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Company Name</label>
                        <input type="text" class="form-control" ng-model="profile.company.name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Street Address</label>
                        <input type="text" class="form-control" ng-model="profile.company.address">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Suite</label>
                        <input type="text" class="form-control" ng-model="profile.company.suite">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div pg-form-group class="form-group form-group-default">
                        <label>City</label>
                        <input type="text" class="form-control" ng-model="profile.company.city">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div pg-form-group class="form-group form-group-default">
                        <label>St</label>
                        <input type="text" class="form-control" ng-model="profile.company.street">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default">
                        <label>ZIP</label>
                        <input type="text" class="form-control" ng-model="profile.company.zip">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="m-t-10">Login</p>
        <div class="form-group-attached">
            <div class="row">
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default">
                        <label>Old Password</label>
                        <input type="password" ng-model="oldPassword" class="form-control error" name="password" placeholder="Minimum of 6 characters." required="" aria-required="true" aria-invalid="true">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default">
                        <label>New Password</label>
                        <input type="password" ng-model="newPassword" class="form-control error" name="password" placeholder="Minimum of 6 characters." required="" aria-required="true" aria-invalid="true">
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4 pull-right m-t-10 sm-m-t-10">
            <button type="button" class="btn btn-success btn-block m-t-5" ng-click="ok()">Save</button>
        </div>
    </div>
</div>
