/*

* Override Pages default styles or create your own styles here

*/


.page-container{
	padding-left: 0!important;
}

.order-list {
	list-style-type: none;
}
ul.order-list li{
	border: none !important;
	margin:0 !important;
	padding-left: 10px;
	padding-right:10px;
}
ul.order-list li h4 {
	margin : 0;
	line-height: 40px;
}
ul.order-list li.active{
	background-color:#2eaeb3;
	color:#ffffff;
}
ul.order-list li.active h4 {
	color:#ffffff;
}
ul.order-list li:hover{
	background-color:#1eaeb3;
}

/*#notes-field {
	height:	250px!important;
}
*/